@model SURFnet.Authentication.Core.SecondFactorAuthRequest
<span>
Please wait while we redirect you to SURFconext..
</span>
<script type="text/javascript">
    setTimeout(function () {
        window.location = "@Html.Raw(Model.CreateSfoRequestUrl())";
    },0);
</script>
