<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="kentor.authServices" type="Kentor.AuthServices.Configuration.KentorAuthServicesSection, Kentor.AuthServices, Version=0.19.0.0, Culture=neutral, PublicKeyToken=0ce72397c01e70b6" />
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
  </configSections>
  <kentor.authServices entityId="https://gateway.pilot.stepup.surfconext.nl/second-factor-only/metadata" returnUrl="https://authenticatieservice.eylemansch.nl/authentication/consume-acs" discoveryServiceUrl="https://authenticatieservice.eylemansch.nl/">
    <nameIdPolicy allowCreate="true" format="Transient" />
    <federations>
      <add metadataLocation="http://localhost:52071/Federation" allowUnsolicitedAuthnResponse="true" />
    </federations>
    <identityProviders>
      <add entityId="https://gateway.pilot.stepup.surfconext.nl/second-factor-only/metadata"
    signOnUrl="https://authenticatieservice.eylemansch.nl/authentication/consume-acs"
           allowUnsolicitedAuthnResponse="true"
           binding="HttpRedirect"
           wantAuthnRequestsSigned="true">
        <signingCertificate storeName="My" storeLocation="LocalMachine"
                            findValue="D6208034477498F829593650CC1774167340B1E3" x509FindType="FindByThumbprint" />
      </add>
    </identityProviders>
  </kentor.authServices>
</configuration>