<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="kentor.authServices" type="Kentor.AuthServices.Configuration.KentorAuthServicesSection, Kentor.AuthServices, Version=0.21.2.0, Culture=neutral, PublicKeyToken=07a7b17ac686a941" />
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SURFnet.Authentication.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <kentor.authServices entityId="" returnUrl="" discoveryServiceUrl="">
    <nameIdPolicy allowCreate="true" format="Unspecified" />
    <identityProviders>
      <add entityId=""
           signOnUrl=""
           binding="HttpPost"
           allowUnsolicitedAuthnResponse="false"
           wantAuthnRequestsSigned="true">
        <signingCertificate storeName="My" storeLocation="LocalMachine"
                            findValue="" x509FindType="FindByThumbprint" />
      </add>
    </identityProviders>
  </kentor.authServices>
</configuration>