<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SURFnet.Authentication.Adfs.StepUp" type="SURFnet.Authentication.Adfs.Plugin.Configuration.StepUpSection, SURFnet.Authentication.Adfs.Plugin"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SURFnet.Authentication.Adfs.Plugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <SURFnet.Authentication.Adfs.StepUp>
    <institution schacHomeOrganization="institution-b.nl" activeDirectoryUserIdAttribute="employeeNumber"/>
    <localSP sPSigningCertificate="757AC14E8B4CBABDD058E3080F6DCD76DFE0FEC8"
		minimalLoa="http://test.surfconext.nl/assurance/sfo-level2"/>
    <stepUpIdP secondFactorEndPoint="https://sa-gw.test.surfconext.nl/second-factor-only/single-sign-on"/>
  </SURFnet.Authentication.Adfs.StepUp>
</configuration>