<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SURFnet.Authentication.Adfs.Plugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="sustainsys.saml2" type="" />
  </configSections>
  <sustainsys.saml2 entityId="" returnUrl="" discoveryServiceUrl="">
    <nameIdPolicy allowCreate="true" format="Unspecified" />
    <identityProviders>
      <add entityId="" signOnUrl="" binding="HttpPost" allowUnsolicitedAuthnResponse="false" wantAuthnRequestsSigned="true">
        <signingCertificate storeName="My" storeLocation="LocalMachine" findValue="" x509FindType="FindByThumbprint" />
      </add>
    </identityProviders>
  </sustainsys.saml2>
  <applicationSettings>
    <SURFnet.Authentication.Adfs.Plugin.Properties.Settings>
      <setting name="SecondFactorEndpoint" serializeAs="String">
        <value />
      </setting>
      <setting name="SpSigningCertificate" serializeAs="String">
        <value />
      </setting>
      <setting name="MinimalLoa" serializeAs="String">
        <value />
      </setting>
      <setting name="AuthenticationServiceUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="schacHomeOrganization" serializeAs="String">
        <value />
      </setting>
      <setting name="ActiveDirectoryUserIdAttribute" serializeAs="String">
        <value />
      </setting>
    </SURFnet.Authentication.Adfs.Plugin.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>