<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Brutal.Dev.StrongNameSigner" version="2.7.1" targetFramework="net461" />
  <package id="log4net" version="2.0.12" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Logging" version="5.2.4" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Protocols" version="5.2.4" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.2.4" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens.Saml" version="5.2.4" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Xml" version="5.2.4" targetFramework="net461" />
  <package id="MSBuildTasks" version="1.5.0.235" targetFramework="net45" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="Sustainsys.Saml2" version="2.7.0" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Xml" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>