<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sustainsys.saml2" type="Sustainsys.Saml2.Configuration.SustainsysSaml2Section, Sustainsys.Saml2" />
  </configSections>
  <sustainsys.saml2 entityId="%SPEntityId%" returnUrl="">
    <serviceCertificates>
      <add use="Signing" status="Current" findValue="%SPSigningThumprint%" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
    </serviceCertificates>
    <nameIdPolicy allowCreate="true" format="Unspecified" />
    <identityProviders>
      <add entityId="%IdPentityId%" metadataLocation="~/%IdPMdFilename%" binding="HttpPost"
              allowUnsolicitedAuthnResponse="false" wantAuthnRequestsSigned="true">
      </add>
    </identityProviders>
  </sustainsys.saml2>
</configuration>