<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sustainsys.saml2" type="Sustainsys.Saml2.Configuration.SustainsysSaml2Section, Sustainsys.Saml2" />
  </configSections>
  <sustainsys.saml2 entityId="%SFOMfaExtensionEntityId%" returnUrl="" discoveryServiceUrl="">
    <!-- TODO: check/remove empty -->
    <nameIdPolicy allowCreate="true" format="Unspecified" />
    <identityProviders>
      <add entityId="%StepupGatewayEntityID%" signOnUrl="" binding="HttpPost" allowUnsolicitedAuthnResponse="false" wantAuthnRequestsSigned="true">
        <signingCertificate storeName="My" storeLocation="LocalMachine" findValue="%StepupGatewaySigningCertificate%" x509FindType="FindByThumbprint" />
      </add>
    </identityProviders>
  </sustainsys.saml2>
</configuration>