<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sustainsys.saml2" type="Sustainsys.Saml2.Configuration.SustainsysSaml2Section, Sustainsys.Saml2, Version=2.3.0.0, Culture=neutral, PublicKeyToken=3F3ECD9D2F3457F7" />
  </configSections>
  <sustainsys.saml2 entityId="http://adfs-2016.test2.surfconext.nl/stepup-mfa" returnUrl="" discoveryServiceUrl="">
    <nameIdPolicy allowCreate="true" format="Unspecified" />
    <identityProviders>
      <add entityId="https://sa-gw.test.surfconext.nl/second-factor-only/metadata" signOnUrl="" binding="HttpPost" allowUnsolicitedAuthnResponse="false" wantAuthnRequestsSigned="true">
        <signingCertificate storeName="My" storeLocation="LocalMachine" findValue="bd043513b969630d46d9e08d7303ed7e0db3cc47" x509FindType="FindByThumbprint" />
      </add>
    </identityProviders>
  </sustainsys.saml2>
</configuration>